*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
/* --------- HEADER --------- */
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0B08AF;
  padding: 20px 12%;
  transition: all .50s ease;
  box-shadow: #000007 0px 0px 25px;
  position: sticky;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
}

#header .logo{
  display: flex;
  align-items: center;
  width: 150px;
}

.navbar{
  display: flex;
}
.navbar a{
  color: #e8e8ef;
  font-size: 1.0rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;   
  transition: all .50s ease;
}
.navbar a:hover{
  color: #016fd4;
  border-bottom: 2px solid #016fd4;
}
.navbar a.active{
  color: #fdc402;
  font-weight: 600;
  border-color: #fdc402;
}

.git-logo i{
  font-size: 40px;
  margin: 7px;
}

.main{
  display: flex;
  align-items: center;
  font-size: 25px;
}

.main a{
  margin-right: 25px;
  margin-left: 10px;
  color: #e8e8ef;
  font-size: 1rem;
  font-weight: 500;
  transition: all .50s ease;
}

/* icons */
.nav-user{
  display: flex;
  align-items: center;
  background: #080681;
  border-radius: 12px;
  padding: 8px 0px;
  cursor: pointer;
}
.nav-icon{
  display: flex;
  align-items: center;
  background: #080681;
  border-radius: 12px;
  padding: 2px 5px;
  cursor: pointer;
}
.nav-icon i{
  font-size: 25px;
  margin: 7px;
}
.nav-user i{
  font-size: 25px;
  margin: 7px;
}


.main a:hover{
  color: #016fd4;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .50s ease;
}
#menu-icon{
  font-size: 35px;
  color: white;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

/* Estilos para el menú desplegable */
.user-menu-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%;
}

.nav-user:hover .user-menu-content {
  display: block;
}

.user-menu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.user-menu-content a:hover {
  background-color: #f1f1f1;
}

/* --------- Our TEAM --------- */
/* Estilos para cada miembro del equipo */
#our-team {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.top {
  text-align: center;
}

.top h2 {
  color: #333;
}

.top p {
  color: #666;
  font-size: 16px;
}

.team-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

.team-member {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #fdc402;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%239294ac' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 250px;
}

.team-member img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 4px solid #fff;
  object-fit: cover;
}

.team-member h3 {
  color: #14135c;
  margin: 10px 0;
}

.team-member p {
  color: #666;
  font-size: 14px;
  margin: 0;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}
.social-icons a i {
  color: #0B08AF;
  font-size: 30px;
}


/* --------- Footer ----------*/
/* Estilos generales del footer */
footer {
  background-color: #2f3439;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%23495057' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: white;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  width: 40%;
  text-align: left;
}

.footer-section h3 {
  color: #ecbd2e;
  border-bottom: 1px solid #777;
  padding-bottom: 5px;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section a {
  color: white;
  text-decoration: none;
}

.footer-section a:hover {
  color: #ddd;
}

.social-icon {
  font-size: 1.4rem;
  margin-right: 8px;
}

/* Estilos del footer inferior */
.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #777;
}

/* ----- MEDIAS -----*/
@media (max-width: 1100px){
  .header{
      padding: 14px 2%;
      transition: .2s;
  }
  .navbar{
      padding: 5px 0;
      margin: 0px 20px;
  }
}
@media (max-width: 1090px){
  #menu-icon{
      display: block;
  }
  .navbar{
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      top: 100%;
  }
  .navbar a{
      display: block;
      margin: 12px 10px; 
      padding: 0px 25px;
      transition: all .50s ease;
      color: #080681;
      font-weight: 400;
  }
   .navbar a:hover{
      color: #016fd4;
      border-bottom: 2px solid #016fd4;
      transform: translate(5px);
  } 
  .navbar a.active{
      color: #016fd4;
      font-weight: 400;
      border-color: #016fd4;
  }
  .navbar.open{
      display: none;
      position: absolute;
      top: 100%;
      right: 2%;
      width: 250px;
      height: 29vh;
      background-color: #f9f9f9;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
  }
}
